* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: "Open Sans", "Open Sans Condensed";
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "Open Sans", "Open Sans Condensed";
    font-size: 130%;
  }
  
/* Style the header */
header {
    background-color: #A95D00;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    display: flex;
  }

.logo{
    float: left;
    width: 276.223px;
    height: 49.72px;
    flex-shrink: 0;
    cursor: pointer;
}

ul{
    list-style-type: none;
}
 
/* Text Styles */
.body-lm{
    color: black;
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 600;
    }
    
    .body-s{
        color: black;
        font-size: 14px;
        font-family: Open Sans;
        font-weight: 400;
        line-height: 20px;
        word-wrap: break-word
        }
    
    h1{
    
    }


.content {
    float: left;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

.content-title{
    width: 982.47px;
    height: 89.063px;
    flex-shrink: 0;
    color: var(--Main-Black, #000);
    font-family: "Open Sans Condensed";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 90px */
    letter-spacing: -1.32px;
    text-transform: uppercase;
  }
  
.content-questions{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Body/Body-Large-Medium */
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
  }
  
  /* Style the footer */
footer {
    background-color: #A95D00;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
    font-size: 9.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
  }

#footer{
    background-color: #A95D00;
    display: flex;
    padding: 40px 203px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}

.footer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
}

.footer-links {
    display: flex;
    height: 16px;
    justify-content: center;
    align-items: center;
    gap: 36px;
    align-self: stretch;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }

hr.footer{
    display: flex;
    width: 1034px;
    height: 1px;
    justify-content: center;
    align-items: center;
    
  }

  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

.footer-copyright{
    align-self: stretch;
    justify-content: center;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
  }

a:link{
    color: white;
    text-decoration: none;
  }

a:hover{
    text-decoration: underline;
}

a:active{
    color: white;
}


